.bottomNav {
    position: absolute; /* App 컨테이너 내에서 하단 고정 */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 5; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navItem {
    flex: 1;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navIcon {
    width: 34px;
    height: 34px;
    margin-bottom: 4px;
  }
  
  .navItem span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #8cc63f;
  }